POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=crypto_db
POSTGRES_USER=crypto_user
POSTGRES_PASSWORD=crypto_pass
BINANCE_BASE_URL=https://api.binance.com
SYMBOLS=BTCUSDT,ETHUSDT,BNBUSDT
KLINES_INTERVAL=1m
KLINES_LIMIT=500
TRADES_LIMIT=500
POLL_INTERVAL_SECONDS=60